github "datatheorem/TrustKit" "master"
github "SnapKit/SnapKit" "master"
github "matthewpalmer/Locksmith" "master"
github "DaveWoodCom/XCGLogger" "master"
github "shpakovski/MASShortcut" "master"
github "marmelroy/Zip" "master"
github "balancemymoney/NSDate-TimeAgo" "master"
github "balancemymoney/JMSRangeSlider" "master"
github "balancemymoney/bal-vector-graphics" "master"
github "SVProgressHUD/SVProgressHUD"
