github "realm/realm-cocoa"
github "datatheorem/TrustKit" "master"
github "wolffan/SnapKit" "xcode-4-mac-compatible"
github "balancemymoney/Locksmith" "master"
github "balancemymoney/XCGLogger" ~> 4.0.0
github "balancemymoney/NSDate-TimeAgo" "master"
github "balancemymoney/MASShortcut" "master"
github "balancemymoney/SwiftyStoreKit" "master"
github "balancemymoney/Zip" "master"
github "balancemymoney/Reachability.swift" "master"
github "balancemymoney/JMSRangeSlider" "master"
github "balancemymoney/bal-vector-graphics" "swift4"
